<div class="cabecera">
	<div class="foto">
		<div class="imagen"></div>
		<div class="nombre firefox">Nombre: Ricardo</div>
	</div>
<div class="video">
	<strong class="firefox">Video Resumen:</strong><br>
	<video src="../public/videos/20141019_195053.mp4" width="60%" height="60%" controls preload></video>
</div>	
</div>


