<div class="cabecera">
	<div class="foto">
		<div class="imagen"></div>
		<div class="nombre firefox">Nombre: Ricardo</div>
	</div>
<div class="video">
	<strong class="firefox">Video Resumen:</strong><br>
	<video controls width="70%" height="90%">
		<source src="../public/20141019_195053.mp4" type="video/mp4" />
	</video>
</div>	
</div>


